body {
  font-family: monospace, monospace;
  color: #d2d2d2;
  background: #2b2b2b;
}

a {
  color: dodgerBlue;
}

main {
  margin: auto;
  width: 50%;
}

nav {
  margin: auto;
  padding: 10px;
  width: 50%;
}

.type {
  font-family: monospace, monospace;
  color: #0000;
  background:
    linear-gradient(-90deg, #d2d2d2 5px,#0000 0) 10px 0,
    linear-gradient(#d2d2d2 0 0) 0 0;
  background-size:calc(var(--n)*1ch) 200%;
  -webkit-background-clip: padding-box,text;
  background-clip: padding-box,text;
  background-repeat: no-repeat;
  animation: 
    b .7s infinite steps(1),   
    t calc(var(--n)*.03s) steps(var(--n)) forwards;
}

@keyframes t{
  from {background-size:0 200%}
}

@keyframes b{
  50% {background-position:0 -100%,0 0}
}
